.box-event{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.box-event-cont{
    position: relative;
    text-align: center;
}
.box-event-cont > label{
    letter-spacing: 3.6px;
    color: #042482;
    font-size: 15px;
    font-family: monserat;
    margin: 0;
}

.box-event-cont > h4{
    text-align: center;
    font-family: sinhala;
    font-size: 40px;
    color: #191919;
}

.box-event-cont > p{
    text-align: center;
    font-family: monserat;
    font-size: 18px;
    color: #191919;
    margin: 0 auto;
    margin-top: 30px;
}






.event-list li img{
    width: -webkit-fill-available;
    height: inherit;
}





.more-news1{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
    text-decoration:none;
}

.more-news1 > button{
    width: 230px;
    height: 52px;
    background: #4CA149 0% 0% no-repeat padding-box;
    border: 1px solid #4CA149;
    opacity: 1;
    color: #fff;
    transform: translateX(60px);
}

.more-news1 > button:hover{
   
    background: white no-repeat padding-box;
    border: 1px solid #4CA149;
    color:#4CA149;
   
}
.rec-arrow-left:after {
    content: url('../assets/left-long-arrow.png');
    color: #00022c;
    font-size: 84px;
}

.rec-arrow:focus{
    outline: 0;
    margin: 0;
}

.rec-arrow-right:after {
    content: url('../assets/right-long-arrow.png');
    color: #00022c;
    font-size: 84px;
}

.rec-pagination {
    display: none !important;
    flex-wrap: wrap;
    position: relative!important;
    right: 164px!important;
    top: -7rem!important;
}

.rec-dot {
    border: 0!important;
    box-shadow: 20px 20px 20px 20px!important;
    box-shadow: none!important;
    background-color: #DBDBDB !important;
    width: 39px !important;
    height: 9px !important;
    border-radius: 5px !important;

}


.rec-dot:focus{
    outline: 0;
}


.rec-dot.rec-dot_active {
    box-sizing: border-box;
    padding: 0;
    transition: all .25s ease;
    margin: 5px;
    font-size: 1.3em;
    content: "";
    outline: none;
    border: none;
    background-color: #5DA7DF!important;
}

.rec-carousel-item > div >div{
        margin: 0!important;
        padding:  0 !important; 
        height: 600px;
        display: flex;
        flex-direction: column;
}

.rec-slider-container{
        margin: 0!important;
        padding:  0 !important; 
}

.vision-cont{
    margin: 2rem 0 5rem 0;
    position: relative;
}



@media screen and (max-width: 960px) {



.rec-carousel-item > div >div {
    margin: 0!important;
    padding: 0 !important;
    height: 33rem;
}




.rec-pagination {
    display: flex;
    flex-wrap: wrap;
    position: relative!important;
    right: 0 !important;
    top: -3rem!important;
}



.v-hide{
    display: none;
}



.event-list li {
    height: 13rem;
    position: relative;
}

.yellow-stand::after {
    background: #F29A38;
    position: absolute;
    content: '';
    border: 1px solid #F29A38;
    width: 30px;
    height: 10rem;
    left: 18px;
    bottom: 0;
}

.more-news1 > button {
    width: 226px;
    height: 55px;
    background: #4CA149 0% 0% no-repeat padding-box;
    border: 1px solid #4CA149;
    opacity: 1;
    color: #fff;
    transform: translateX(0);
}
}

.left{
    margin-left:-600px;
    margin-top:-60px;
}